@page "/"

@using BackendLogic.Data.Services;
@using BackendLogic.Data.Entities;
@using BackendLogic.Data.ValueObjects;
@inject CalendarService calendarService;
@inject EventEditorService _eventEditorService;


<PageTitle>EventCalendar</PageTitle>

<h1>Event Calendar</h1>
     <div>
         <button class="btn btn-primary" @onclick="CreateEvent_Clicked" hidden="@CreateEvent_Visible">
             Event Erstellen
         </button>
         <button @onclick="CancelCreateEvent_Clicked" hidden=@CreateEvent_Hidden>Cancel</button>
         <div>
             <div id="CreateEvent" hidden="@CreateEvent_Hidden">
                <CreateEvent></CreateEvent>
             </div>
             <p>_________________________________________________</p>
         </div>
         
         <div>
             <label>Anstehende Events --- Havent had Time For UI Enter for Shift adds a Hardcoded Helper to the First shift in the first Event (Completely front end triggered)</label> 
        @foreach(BackendLogic.Data.Entities.Event _event in Events)
        {
            <table style="border: 1px solid #0000">
            <th><label>"Event: @_event.Name"</label> Host:"@_event.Host.Name", Location:"@_event.Location.Name", Start Time:"@_event.StartTime.ToString()", End Time:"@_event.EndTime"  <button @onclick="CancelEvent_Clicked">Cancel Event</button></th>
            @foreach(Shift shift in _event.Shifts) {
                <tr>
                <label>Shift: @shift.Description</label>
                <p>Start Time: @shift.StartTime.ToString(), End Time: @shift.EndTime.ToString()</p>
                <p><button @onclick="OnShiftEnter">Enter for shift</button></p>
                
                @foreach(Helper _helper in @shift.Helpers ){
                    @if(@_helper != null)
                    {
                            <td>@_helper.NickName <button @onclick="OnShiftQuit">X</button></td>
                    }
                }
                </tr>
            }
            </table>
            <p>_________________________________________________</p>
        }
    </div>
     </div>

@code {
    private bool CreateEvent_Visible { get; set; } = false;
    private bool CreateEvent_Hidden { get => !CreateEvent_Visible; }

    //Hardcoded helper because of Not enought time for ui Editor for helper
    private Helper helper = new("lefaro", "Lennart", "Royl", "royl.lennart@stuv-karlsruhe.de", "1232131");


    private List<BackendLogic.Data.Entities.Event> Events = new();

    protected override async void OnInitialized()
    {
        Events.AddRange(await calendarService.GetOpenEvents());
        base.OnInitialized();
    }

    private void CreateEvent_Clicked()
    {
        CreateEvent_Visible = true;

    }

    private void CancelCreateEvent_Clicked()
    {
        CreateEvent_Visible = false;
        this.StateHasChanged();
    }

    private void CancelEvent_Clicked()
    {
        calendarService.CancelEvent(Events[0]);
        this.StateHasChanged();
    }

    private void OnShiftEnter()
    {   
        _eventEditorService.SignIntoShift(Events[0], Events[0].Shifts[0].ShiftID, helper);
    }

    private void OnShiftQuit()
    {
        _eventEditorService.ResignFromShift(Events[0], Events[0].Shifts[0].ShiftID, helper);
    }

}
